/* Desktop */

@media screen and (max-width: 1060px) {
  .contact{
  	margin-left: 60px;
  }

  .about-item{
  	margin-top: 60px;
  }

  .gallery-title{
  	display: block;
  	position: inherit;
  }

  .img-others{
  	margin-top: 45px;
  }
}

@media screen and (min-width: 955px) {
  .contact{
  	margin-left: 60px;
  }

  /*.gallery-title{
  	display: block;
  	position: inherit;
  }*/

  .img-others{
  	margin-top: 45px;
  }

   .about-item{
  	margin-top: 60px;
  }
}


/* Tablet */
@media screen and (max-width: 991px) {
  header{
    background: rgba(255,255,255,.7);
  }
  .navigation {
    flex-wrap: wrap;
  }
  .navigaton-li{
    text-align: center;
    display: block;
    width: 100%;
    margin-top: 100px;
  }
  .navigaton-li:last-child{
    margin-bottom: 200px;
  }
	.contact-content{
		width: 100%;
		height: auto;
		margin-left: 0px;
	}
	.contact{
		margin-left: 0;
		width: 100%;
	}
  	.maps{
  		height: 215px;
  		width: auto;
  		margin: 0;
  	}
  	.form-mail{
  		height: auto;
  		width: 100%;
		margin: 0;
		padding-bottom: 20px;
  	}
	.form-text{
		width: 60%;
	}
	.share{
		display: none;
	}
	.contact-content{
		background-color: #FFFFFF;
	}
	.article-contact{
		color: #1A1A1A;
		text-align: center;
	}

	.ather-chakbox{
		display: none;
	}

	.form-group-text{
       
	}
}

/* Mobile */
@media screen and (max-width: 576px) {
  .page-title{
    background-size: contain;
  }
  	.form-mail{
	    flex-wrap: wrap;
		height: auto;
		justify-content: space-around;
  	}
	.maps{
		display: none;
	}
	.created{
		flex-wrap: wrap;
		text-align: center;
		padding-top: 10px;
		height: auto;
	}
	.left-tittle, .right-tittle{
		width: 100%;
	}
	.form-text{
		width: 100%;
	}

    .form-text-2{
    	display: flex;
    	justify-content: space-between;
    }
}

